<h1>Task List</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= check_box_tag "task_ids[]", task.id, task.completed %>
      <%= link_to task.title, task_path(task) %>
      <%= link_to 'Delete', task_path(task), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
